<div class="card">
  <div class="card-content text-center">
    <h3>Targets</h3>
    <ol>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
      <li>All current goals Sample will be displayed over here</li>
    </ol>
  </div>
</div>
