<div class="card">
  <div class="card-content text-center">
    <h3>Reward History</h3>
    <ol>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
      <li>Reward history Sample will be displayed over here</li>
    </ol>
  </div>
</div>
